In [1]:
# import modules
import os
import pandas as pd

In [2]:
# read country csv
path=os.path.join('01_extract_country','country.csv')
country_df=pd.read_csv(path)
country_df.head()

,Continent_Name,Continent_Code,Country_Name,Two_Letter_Country_Code,Three_Letter_Country_Code,Country_Number
0,Asia,AS,"Afghanistan, Islamic Republic of",AF,AFG,4.0
1,Europe,EU,"Albania, Republic of",AL,ALB,8.0
2,Antarctica,AN,Antarctica (the territory South of 60 deg S),AQ,ATA,10.0
3,Africa,AF,"Algeria, People's Democratic Republic of",DZ,DZA,12.0
4,Oceania,OC,American Samoa,AS,ASM,16.0

In [3]:
# clean country name
for ind,row in country_df.iterrows():
    country_df.loc[ind,'Country_Name']=country_df.loc[ind,'Country_Name'].split(',')[0]
    country_df.loc[ind,'Country_Name']=country_df.loc[ind,'Country_Name'].split('(')[0]
    country_df.loc[ind,'Country_Name']=country_df.loc[ind,'Country_Name'].strip()
country_df.head()

,Continent_Name,Continent_Code,Country_Name,Two_Letter_Country_Code,Three_Letter_Country_Code,Country_Number
0,Asia,AS,Afghanistan,AF,AFG,4.0
1,Europe,EU,Albania,AL,ALB,8.0
2,Antarctica,AN,Antarctica,AQ,ATA,10.0
3,Africa,AF,Algeria,DZ,DZA,12.0
4,Oceania,OC,American Samoa,AS,ASM,16.0

In [4]:
# drop duplicate country code and country
country_df=country_df.drop_duplicates(subset =["Three_Letter_Country_Code"], keep = 'last')
country_df=country_df.drop_duplicates(subset =["Country_Name"], keep = 'last')

In [5]:
# find problem names
probcountry=[]
for country in country_df['Country_Name']:
    for string in country.split(" "):   
        if not string.isalnum():
            probcountry.append(country)

print(probcountry)
print(len(probcountry))

['Ã…land Islands', "Cote d'Ivoire", "Lao People's Democratic Republic", 'CuraÃ§ao', 'Guinea-Bissau', 'Timor-Leste', 'Svalbard & Jan Mayen Islands', 'United Kingdom of Great Britain & Northern Ireland']
8

In [6]:
# manually replace problem names (not considering "'","&",or "-" problematic)
# and verify that replacement has occured
country_df=country_df.replace([probcountry[0]],['Aland Islands'])

probcountry=[]
for country in country_df['Country_Name']:
    for string in country.split(" "):   
        if not string.isalnum():
            probcountry.append(country)

print(probcountry)
print(len(probcountry))

["Cote d'Ivoire", "Lao People's Democratic Republic", 'CuraÃ§ao', 'Guinea-Bissau', 'Timor-Leste', 'Svalbard & Jan Mayen Islands', 'United Kingdom of Great Britain & Northern Ireland']
7

In [7]:
# note also that 'united states' has multiple entries which are confusing
# manually editing it
probcountry=[]
for country in country_df['Country_Name']:
    if 'united states' in country.lower():
        probcountry.append(country)
print(probcountry)

['United States Minor Outlying Islands', 'United States of America', 'United States Virgin Islands']

In [8]:
country_df=country_df[country_df['Country_Name']!=probcountry[0]]
country_df=country_df.replace([probcountry[2]],['Virgin Islands'])

In [9]:
# rename and rearrange columns
country_df_new=country_df[['Three_Letter_Country_Code','Country_Name','Continent_Name']]
country_df_new.columns=['countrycode','country','continent']
country_df_new.head()

  countrycode         country   continent
0         AFG     Afghanistan        Asia
1         ALB         Albania      Europe
2         ATA      Antarctica  Antarctica
3         DZA         Algeria      Africa
4         ASM  American Samoa     Oceania

In [10]:
# drop nulls
country_df_new=country_df_new.dropna(axis=0)

In [11]:
# save country csv for SQL database
country_df_new.to_csv('02_transform_country/country.csv',index=False)