In [1]:
# import dependencies
import os
import pandas as pd
import sqlalchemy
from password import password
from sqlalchemy import create_engine, inspect
from sqlalchemy_utils import database_exists, create_database

In [2]:
# create engine and database
engine = create_engine('postgresql://postgres:'+password+'@localhost/country_happyCOL')
if not database_exists(engine.url):
    create_database(engine.url)

In [3]:
# import happiness data
happypath=os.path.join('02_transform_happiness','happy_data.csv')
happydata=pd.read_csv(happypath)
happydata

,year,country,happinessRank,happinessScore,economy,social,health,freedom,generosity,trust
0,2015,CHE,1,7.587,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678
1,2015,ISL,2,7.561,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630
2,2015,DNK,3,7.527,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139
3,2015,NOR,4,7.522,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699
4,2015,CAN,5,7.427,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811
...,...,...,...,...,...,...,...,...,...,...
695,2019,MWI,150,3.410,0.19100,0.56000,0.49500,0.44300,0.21800,0.08900
696,2019,YEM,151,3.380,0.28700,1.16300,0.46300,0.14300,0.10800,0.07700
697,2019,RWA,152,3.334,0.35900,0.71100,0.61400,0.55500,0.21700,0.41100
698,2019,TZA,153,3.231,0.47600,0.88500,0.49900,0.41700,0.27600,0.14700
699,2019,AFG,154,3.203,0.35000,0.51700,0.36100,0.00000,0.15800,0.02500

In [4]:
# save happiness data into SQL database
happydata.to_sql(name='happiness', con=engine, if_exists='replace', index=False)

In [5]:
# ensure that tables are in database
inspector = inspect(engine)
print(inspector.get_table_names())

['happiness']

In [6]:
# confirm database values exists in sql by querying it
pd.read_sql_query('select * from happiness', con=engine).head()

,year,country,happinessRank,happinessScore,economy,social,health,freedom,generosity,trust
0,2015,CHE,1,7.587,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678
1,2015,ISL,2,7.561,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630
2,2015,DNK,3,7.527,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139
3,2015,NOR,4,7.522,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699
4,2015,CAN,5,7.427,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811