In [2]:
# import modules
import os
import pandas as pd

In [56]:
# import happiness report csv files fo 2015-2019 
# into pandas dataframe within a dictionary
happypath=os.path.join('..','data','world_happines_index_kaggle','datasets_894_813759_')
year=['2015','2016','2017','2018','2019']
happyyear={}
for i in range(len(year)):
    happyyear[year[i]]=pd.read_csv(happypath+year[i]+'.csv')

In [57]:
# inspecting table columns
for i in range(len(year)):
    print(f'{year[i]}\n{happyyear[year[i]].columns}\n-----\n')

2015
Index(['Country', 'Region', 'Happiness Rank', 'Happiness Score',
       'Standard Error', 'Economy (GDP per Capita)', 'Family',
       'Health (Life Expectancy)', 'Freedom', 'Trust (Government Corruption)',
       'Generosity', 'Dystopia Residual'],
      dtype='object')
-----

2016
Index(['Country', 'Region', 'Happiness Rank', 'Happiness Score',
       'Lower Confidence Interval', 'Upper Confidence Interval',
       'Economy (GDP per Capita)', 'Family', 'Health (Life Expectancy)',
       'Freedom', 'Trust (Government Corruption)', 'Generosity',
       'Dystopia Residual'],
      dtype='object')
-----

2017
Index(['Country', 'Happiness.Rank', 'Happiness.Score', 'Whisker.high',
       'Whisker.low', 'Economy..GDP.per.Capita.', 'Family',
       'Health..Life.Expectancy.', 'Freedom', 'Generosity',
       'Trust..Government.Corruption.', 'Dystopia.Residual'],
      dtype='object')
-----

2018
Index(['Overall rank', 'Country or region', 'Score', 'GDP per capita',
       'Social support', 'Healthy life expectancy',
       'Freedom to make life choices', 'Generosity',
       'Perceptions of corruption'],
      dtype='object')
-----

2019
Index(['Overall rank', 'Country or region', 'Score', 'GDP per capita',
       'Social support', 'Healthy life expectancy',
       'Freedom to make life choices', 'Generosity',
       'Perceptions of corruption'],
      dtype='object')
-----

In [58]:
# removing columns that are not common across all years
happyyear['2015']=happyyear['2015'].drop(['Region','Standard Error','Dystopia Residual'],axis=1)
happyyear['2016']=happyyear['2016'].drop(['Region','Lower Confidence Interval','Upper Confidence Interval','Dystopia Residual'],axis=1)
happyyear['2017']=happyyear['2017'].drop(['Whisker.high','Whisker.low','Dystopia.Residual'],axis=1)

In [59]:
# rearranging table columns so that they match across years
col2017=happyyear['2017'].columns.tolist()
col2017=col2017[:-2]+col2017[-1:]+col2017[-2:-1]
happyyear['2017']=happyyear['2017'][col2017]
print(happyyear['2017'].columns)

Index(['Country', 'Happiness.Rank', 'Happiness.Score',
       'Economy..GDP.per.Capita.', 'Family', 'Health..Life.Expectancy.',
       'Freedom', 'Trust..Government.Corruption.', 'Generosity'],
      dtype='object')

In [62]:
# rearranging table columns so that they match across years
col2018=happyyear['2018'].columns.tolist()
col2018=col2018[1:2]+col2018[0:1]+col2018[2:-2]+col2018[-1:]+col2018[-2:-1]
happyyear['2018']=happyyear['2018'][col2018]
happyyear['2019']=happyyear['2019'][col2018]
print(happyyear['2018'].columns)

Index(['Country or region', 'Overall rank', 'Score', 'GDP per capita',
       'Social support', 'Healthy life expectancy',
       'Freedom to make life choices', 'Perceptions of corruption',
       'Generosity'],
      dtype='object')

In [65]:
# renaming columns
for i in range(len(year)):
    happyyear[year[i]].columns=['country','happiness_rank',\
                               'happiness_score','economy',\
                               'family','health','freedom',\
                                'trust','generosity']
    happyyear[year[i]]=happyyear[year[i]].rename(columns=lambda x:x+'_'+year[i])

In [85]:
# merge 2015-2019 dataframes into a single dataframe
happy_pd=happyyear['2015']
for i in (range(1,5)):
    rightcol='country_'+year[i]
    happy_pd=pd.merge(happy_pd,happyyear[year[i]],left_on='country_2015',right_on=rightcol,how='inner')

In [89]:
happy_pd=happy_pd.drop(['country_2016','country_2017','country_2018','country_2019'],axis=1)
happy_pd=happy_pd.rename(columns={'country_2015':'country'})
happy_pd.head()

,country,happiness_rank_2015,happiness_score_2015,economy_2015,family_2015,health_2015,freedom_2015,trust_2015,generosity_2015,happiness_rank_2016,...,trust_2018,generosity_2018,happiness_rank_2019,happiness_score_2019,economy_2019,family_2019,health_2019,freedom_2019,trust_2019,generosity_2019
0,Switzerland,1,7.587,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2,...,0.357,0.256,6,7.480,1.452,1.526,1.052,0.572,0.343,0.263
1,Iceland,2,7.561,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,3,...,0.138,0.353,4,7.494,1.380,1.624,1.026,0.591,0.118,0.354
2,Denmark,3,7.527,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,1,...,0.408,0.284,2,7.600,1.383,1.573,0.996,0.592,0.410,0.252
3,Norway,4,7.522,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,4,...,0.340,0.286,3,7.554,1.488,1.582,1.028,0.603,0.341,0.271
4,Canada,5,7.427,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,6,...,0.291,0.321,9,7.278,1.365,1.505,1.039,0.584,0.308,0.285