In [1]:
# import modules
import os
import pandas as pd

In [2]:
# import happiness report csv files fo 2015-2019 
# into pandas dataframe within a dictionary
happypath=os.path.join('..','data','world_happines_index_kaggle','datasets_894_813759_')
year=['2015','2016','2017','2018','2019']
happyyear={}
for i in range(len(year)):
    happyyear[year[i]]=pd.read_csv(happypath+year[i]+'.csv')

In [3]:
# inspecting table columns
for i in range(len(year)):
    print(f'{year[i]}\n{happyyear[year[i]].columns}\n-----\n')

2015
Index(['Country', 'Region', 'Happiness Rank', 'Happiness Score',
       'Standard Error', 'Economy (GDP per Capita)', 'Family',
       'Health (Life Expectancy)', 'Freedom', 'Trust (Government Corruption)',
       'Generosity', 'Dystopia Residual'],
      dtype='object')
-----

2016
Index(['Country', 'Region', 'Happiness Rank', 'Happiness Score',
       'Lower Confidence Interval', 'Upper Confidence Interval',
       'Economy (GDP per Capita)', 'Family', 'Health (Life Expectancy)',
       'Freedom', 'Trust (Government Corruption)', 'Generosity',
       'Dystopia Residual'],
      dtype='object')
-----

2017
Index(['Country', 'Happiness.Rank', 'Happiness.Score', 'Whisker.high',
       'Whisker.low', 'Economy..GDP.per.Capita.', 'Family',
       'Health..Life.Expectancy.', 'Freedom', 'Generosity',
       'Trust..Government.Corruption.', 'Dystopia.Residual'],
      dtype='object')
-----

2018
Index(['Overall rank', 'Country or region', 'Score', 'GDP per capita',
       'Social support', 'Healthy life expectancy',
       'Freedom to make life choices', 'Generosity',
       'Perceptions of corruption'],
      dtype='object')
-----

2019
Index(['Overall rank', 'Country or region', 'Score', 'GDP per capita',
       'Social support', 'Healthy life expectancy',
       'Freedom to make life choices', 'Generosity',
       'Perceptions of corruption'],
      dtype='object')
-----

In [4]:
# removing columns that are not common across all years
happyyear['2015']=happyyear['2015'].drop(['Region','Standard Error','Dystopia Residual'],axis=1)
happyyear['2016']=happyyear['2016'].drop(['Region','Lower Confidence Interval','Upper Confidence Interval','Dystopia Residual'],axis=1)
happyyear['2017']=happyyear['2017'].drop(['Whisker.high','Whisker.low','Dystopia.Residual'],axis=1)

In [5]:
# rearranging table columns so that they match across years
col2017=happyyear['2017'].columns.tolist()
col2017=col2017[:-2]+col2017[-1:]+col2017[-2:-1]
happyyear['2017']=happyyear['2017'][col2017]
print(happyyear['2017'].columns)

Index(['Country', 'Happiness.Rank', 'Happiness.Score',
       'Economy..GDP.per.Capita.', 'Family', 'Health..Life.Expectancy.',
       'Freedom', 'Trust..Government.Corruption.', 'Generosity'],
      dtype='object')

In [6]:
# rearranging table columns so that they match across years
col2018=happyyear['2018'].columns.tolist()
col2018=col2018[1:2]+col2018[0:1]+col2018[2:-2]+col2018[-1:]+col2018[-2:-1]
happyyear['2018']=happyyear['2018'][col2018]
happyyear['2019']=happyyear['2019'][col2018]
print(happyyear['2018'].columns)

Index(['Country or region', 'Overall rank', 'Score', 'GDP per capita',
       'Social support', 'Healthy life expectancy',
       'Freedom to make life choices', 'Perceptions of corruption',
       'Generosity'],
      dtype='object')

In [7]:
# renaming columns
for i in range(len(year)):
    happyyear[year[i]].columns=['country','happiness_rank',\
                               'happiness_score','economy',\
                               'social','health','freedom',\
                                'trust','generosity']
    happyyear[year[i]]['year']=year[i]
    #happyyear[year[i]]=happyyear[year[i]].rename(columns=lambda x:x+'_'+year[i])

In [8]:
# concat all 5 years worth of happiness data into a single df
happyall=pd.concat([happyyear['2015'],happyyear['2016'],happyyear['2017'],happyyear['2018'],happyyear['2019']],axis=0)
happyall=happyall.reset_index(drop=True)
happyall

,country,happiness_rank,happiness_score,economy,social,health,freedom,trust,generosity,year
0,Switzerland,1,7.587,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2015
1,Iceland,2,7.561,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2015
2,Denmark,3,7.527,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2015
3,Norway,4,7.522,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2015
4,Canada,5,7.427,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2015
...,...,...,...,...,...,...,...,...,...,...
777,Rwanda,152,3.334,0.35900,0.71100,0.61400,0.55500,0.41100,0.21700,2019
778,Tanzania,153,3.231,0.47600,0.88500,0.49900,0.41700,0.14700,0.27600,2019
779,Afghanistan,154,3.203,0.35000,0.51700,0.36100,0.00000,0.02500,0.15800,2019
780,Central African Republic,155,3.083,0.02600,0.00000,0.10500,0.22500,0.03500,0.23500,2019
781,South Sudan,156,2.853,0.30600,0.57500,0.29500,0.01000,0.09100,0.20200,2019

In [9]:
# find countries without all five years of data
countrycount=pd.DataFrame(happyall.groupby('country')['year'].count())
for ind,row in countrycount.iterrows():
    if row['year']!=5:
        print(f'{ind}-{row["year"]}')

Angola-4
Belize-3
Central African Republic-4
Comoros-3
Djibouti-1
Gambia-1
Hong Kong-4
Hong Kong S.A.R., China-1
Laos-4
Lesotho-4
Macedonia-4
Mozambique-4
Namibia-4
North Cyprus-3
North Macedonia-1
Northern Cyprus-2
Oman-1
Puerto Rico-1
Somalia-4
Somaliland Region-1
Somaliland region-1
South Sudan-4
Sudan-4
Suriname-2
Swaziland-2
Taiwan-4
Taiwan Province of China-1
Trinidad & Tobago-2
Trinidad and Tobago-3

In [10]:
# replace problematic country names
happyall['country'] = happyall['country'].replace(\
    ['Hong Kong S.A.R., China','Northern Cyprus', 'Somaliland region','Taiwan Province of China','Trinidad & Tobago'],\
    ['Hong Kong','North Cyprus','Somaliland Region','Taiwan','Trinidad and Tobago'])

In [11]:
# drop countries without all five years of data
countrycount=pd.DataFrame(happyall.groupby('country')['year'].count())
countrycount
for ind,row in countrycount.iterrows():
    if row['year']!=5:
        happyall=happyall[happyall.country!=ind]

In [12]:
happyall

,country,happiness_rank,happiness_score,economy,social,health,freedom,trust,generosity,year
0,Switzerland,1,7.587,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2015
1,Iceland,2,7.561,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2015
2,Denmark,3,7.527,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2015
3,Norway,4,7.522,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2015
4,Canada,5,7.427,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2015
...,...,...,...,...,...,...,...,...,...,...
775,Malawi,150,3.410,0.19100,0.56000,0.49500,0.44300,0.08900,0.21800,2019
776,Yemen,151,3.380,0.28700,1.16300,0.46300,0.14300,0.07700,0.10800,2019
777,Rwanda,152,3.334,0.35900,0.71100,0.61400,0.55500,0.41100,0.21700,2019
778,Tanzania,153,3.231,0.47600,0.88500,0.49900,0.41700,0.14700,0.27600,2019
779,Afghanistan,154,3.203,0.35000,0.51700,0.36100,0.00000,0.02500,0.15800,2019

In [13]:
# import continent csv
continent=os.path.join('..','data','country-and-continent-codes-list-csv_csv.csv')
continent_df=pd.read_csv(continent)

In [14]:
# drop duplicate country code
continent_df=continent_df.drop_duplicates(subset =["Three_Letter_Country_Code"], 
                     keep = 'first')
continent_df.head()

,Continent_Name,Continent_Code,Country_Name,Two_Letter_Country_Code,Three_Letter_Country_Code,Country_Number
0,Asia,AS,"Afghanistan, Islamic Republic of",AF,AFG,4.0
1,Europe,EU,"Albania, Republic of",AL,ALB,8.0
2,Antarctica,AN,Antarctica (the territory South of 60 deg S),AQ,ATA,10.0
3,Africa,AF,"Algeria, People's Democratic Republic of",DZ,DZA,12.0
4,Oceania,OC,American Samoa,AS,ASM,16.0

In [15]:
for ind,row in continent_df.iterrows():
    continent_df.loc[ind,'Country_Name']=continent_df.loc[ind,'Country_Name'].split(',')[0]
    continent_df.loc[ind,'Country_Name']=continent_df.loc[ind,'Country_Name'].split('(')[0]
continent_df

,Continent_Name,Continent_Code,Country_Name,Two_Letter_Country_Code,Three_Letter_Country_Code,Country_Number
0,Asia,AS,Afghanistan,AF,AFG,4.0
1,Europe,EU,Albania,AL,ALB,8.0
2,Antarctica,AN,Antarctica,AQ,ATA,10.0
3,Africa,AF,Algeria,DZ,DZA,12.0
4,Oceania,OC,American Samoa,AS,ASM,16.0
...,...,...,...,...,...,...
254,Oceania,OC,Wallis and Futuna,WF,WLF,876.0
255,Oceania,OC,Samoa,WS,WSM,882.0
256,Asia,AS,Yemen,YE,YEM,887.0
257,Africa,AF,Zambia,ZM,ZMB,894.0
258,Oceania,OC,Disputed Territory,XX,NaN,NaN

In [16]:
# replace countries with country code
for ind,row in happyall.iterrows():
    for ind2,row2 in continent_df.iterrows():
        if row['country'].lower() in row2['Country_Name'].lower():
            happyall.loc[ind,'country']=continent_df.loc[ind2,'Three_Letter_Country_Code']
            break

In [17]:
# find countries without a country code from the main dataframe
miscountry=[]
for i in happyall['country']:
    if (len(i)>3) and i not in miscountry:
        miscountry.append(i)
print(miscountry)

['South Korea', 'North Cyprus', 'Kosovo', 'Kyrgyzstan', 'Palestinian Territories', 'Congo (Kinshasa)', 'Congo (Brazzaville)', 'Ivory Coast']

In [18]:
# invert match to capture countries that are named differently
# ie. previous round looking for happyall country string within continent_df country, 
# now looking for continent_df country string within happyall country
# takes care of situation such as happyall country of 'Congo (Brazzaville)' not in the continent_df country of 'Congo'
for ind,row in continent_df.iterrows():
    for j in miscountry:
        if row['Country_Name'].lower().split(',')[0] in j.lower():
            happyall['country']=happyall['country'].replace(j,continent_df.loc[ind,'Three_Letter_Country_Code'])

In [19]:
# find all missed countries again
miscountry=[]
for i in happyall['country']:
    if (len(i)>3) and i not in miscountry:
        miscountry.append(i)
print(miscountry)

['Kosovo', 'Kyrgyzstan', 'Palestinian Territories', 'Ivory Coast']

In [20]:
# last ditch attempt to get final few countries' alternate name by scrapping wiki
from splinter import Browser
from webdriver_manager.chrome import ChromeDriverManager
from bs4 import BeautifulSoup
executable_path={'executable_path':'/usr/local/bin/chromedriver'}
browser=Browser('chrome',**executable_path,headless=False)
altname=[None]*len(miscountry)
for i in range(len(miscountry)):
    url='http://wikipedia.org'
    browser.visit(url)
    browser.find_by_id('searchInput').fill(f'{miscountry[i]}\n')
    html=browser.html
    soup=BeautifulSoup(html,'lxml')
    result=soup.find_all('div', class_='country-name')
    for r in result:
        altname[i]=r.text
browser.quit()

In [21]:
print(altname)

['Republic of Kosovo', 'Kyrgyz Republic', 'Palestinian territories', "Republic of Côte d'Ivoire"]

In [22]:
for ind,row in continent_df.iterrows():
    for j in range(len(miscountry)):
        if row['Country_Name'].lower().split(',')[0] in altname[j].lower():
            happyall['country']=happyall['country'].replace(miscountry[j],continent_df.loc[ind,'Three_Letter_Country_Code'])

In [23]:
# still missed a few countries
miscountry=[]
for i in happyall['country']:
    if (len(i)>3) and i not in miscountry:
        miscountry.append(i)
print(miscountry)

['Kosovo', 'Palestinian Territories', 'Ivory Coast']

In [24]:
# brute forcing it
happyall['country'] = happyall['country'].replace(\
    ['Kosovo','Palestinian Territories', 'Ivory Coast'],\
    ['XKX','PSE','CIV'])

In [25]:
# find countries without five years of data
countrycount=pd.DataFrame(happyall.groupby('country')['year'].count())
countrycount
for ind,row in countrycount.iterrows():
    if row['year']!=5:
        print(f'{ind}-{row["year"]}')

COG-10
CYP-10

In [26]:
# problem resulted from there being both 'republic of conga' and 'democratic republic of conga'; 
# as well as 'cyprus' and 'northern cyprus'
# should we drop?

In [27]:
# number of unique countries
len(countrycount)

143

In [28]:
# check for missing values
happyall.count()

country            725
happiness_rank     725
happiness_score    725
economy            725
social             725
health             725
freedom            725
trust              724
generosity         725
year               725
dtype: int64

In [29]:
# remove country with missing trust value
for ind,row in happyall.iterrows():
    try:
        int(row['trust'])
    except:
        country=row['country']
        print(row['country'])

happyall=happyall[happyall.country!='ARE']
happyall.count()

ARE

country            720
happiness_rank     720
happiness_score    720
economy            720
social             720
health             720
freedom            720
trust              720
generosity         720
year               720
dtype: int64

In [31]:
# Baili switch columns and rows
happy_pd = happy_pd.set_index('country')

happy_pd.head()

NameError: name 'happy_pd' is not defined

In [ ]:
happy_pd = happy_pd.T
happy_pd

In [ ]:
a = happy_pd.index
b = [x.split('_') for x in a]
year = [b[i][-1] for i in range(len(b))]
item = [b[i][-2] for i in range(len(b))]
item

In [ ]:
happy_pd['year'] = year
happy_pd['item'] = item
happy_pd

In [ ]:
happy_pd = happy_pd.set_index(["year", "item"])

In [ ]:
happy_pd

In [ ]:
happy_pd.columns[0:14]

In [ ]:
happy_pd_top15 = happy_pd[happy_pd.columns[0:14]]
happy_pd_top15

In [ ]:
happy_pd_2015 = happy_pd_top15.loc['2015',:]
happy_pd_2015

In [ ]:
import matplotlib.pyplot as plt