In [2]:
# import modules
import pandas as pd

In [3]:
# Scrape data and check for number of records per year
years = (2015, 2016, 2017, 2018, 2019)

all_COLI_data = []

for year in years:
    url = 'https://www.numbeo.com/cost-of-living/rankings_by_country.jsp?title=' + str(year)
    print(url)
    COLI_data = pd.read_html(url)
    print(len(COLI_data[2]))
    all_COLI_data.append(COLI_data[2])

https://www.numbeo.com/cost-of-living/rankings_by_country.jsp?title=2015
119
https://www.numbeo.com/cost-of-living/rankings_by_country.jsp?title=2016
122
https://www.numbeo.com/cost-of-living/rankings_by_country.jsp?title=2017
121
https://www.numbeo.com/cost-of-living/rankings_by_country.jsp?title=2018
115
https://www.numbeo.com/cost-of-living/rankings_by_country.jsp?title=2019
119

In [40]:
df_2015 = pd.DataFrame(all_COLI_data[0])
df_2016 = pd.DataFrame(all_COLI_data[1])
df_2017 = pd.DataFrame(all_COLI_data[2])
df_2018 = pd.DataFrame(all_COLI_data[3])
df_2019 = pd.DataFrame(all_COLI_data[4])
ranking_df = pd.concat([df_2015, df_2016, df_2017,df_2018,df_2019 ])
#ranking_df.to_csv("ranking_raw.csv")
ranking_df

,Country,Cost of Living Index,Rent Index,Cost of Living Plus Rent Index,Groceries Index,Restaurant Price Index,Local Purchasing Power Index,Year
0,Bermuda,133.68,120.12,127.17,131.95,121.27,118.54,2015
1,Switzerland,123.10,55.14,90.44,123.86,119.14,178.74,2015
2,Bahamas,107.54,38.21,74.22,107.12,88.43,58.96,2015
3,Norway,99.80,37.04,69.64,93.27,110.77,125.75,2015
4,Iceland,96.45,35.45,67.13,91.40,98.82,93.98,2015
...,...,...,...,...,...,...,...,...
114,Kosovo (Disputed Territory),26.18,8.05,17.48,23.21,19.57,61.82,2019
115,Venezuela,25.73,5.89,16.20,27.58,21.98,3.71,2019
116,India,24.17,5.84,15.37,24.20,17.15,66.91,2019
117,Tunisia,23.69,4.96,14.69,22.27,13.33,37.99,2019
118,Pakistan,20.40,4.50,12.76,18.25,15.42,38.61,2019

In [123]:
# Set Index