In [84]:
# import modules
import pandas as pd

In [ ]:
# Scrape data and check for number of records per year
years = (2015, 2016, 2017, 2018, 2019)

all_COLI_data = []

for year in years:
    url = 'https://www.numbeo.com/cost-of-living/rankings_by_country.jsp?title=' + str(year)
    print(url)
    COLI_data = pd.read_html(url)
    print(len(COLI_data[2]))
    all_COLI_data.append(COLI_data[2])

In [ ]:
df_2015 = pd.DataFrame(all_COLI_data[0])
df_2016 = pd.DataFrame(all_COLI_data[1])
df_2017 = pd.DataFrame(all_COLI_data[2])
df_2018 = pd.DataFrame(all_COLI_data[3])
df_2019 = pd.DataFrame(all_COLI_data[4])
ranking_df = pd.concat([df_2015, df_2016, df_2017,df_2018,df_2019 ])
#ranking_df.to_csv("/Users/eamonnmccallum/Monash-DS/groupwork/STDs/work/data/numbeo_ranking_raw.csv")
ranking_df

In [114]:
continent  = pd.read_csv("/Users/eamonnmccallum/Monash-DS/groupwork/STDs/work/data/country-and-continent-codes-list-csv_csv.csv")
continent["country_names"] = continent["Country_Name"].astype(str) + ","
check = continent.loc[continent["Continent_Name"]== "North America"]
check

,Continent_Name,Continent_Code,Country_Name,Two_Letter_Country_Code,Three_Letter_Country_Code,Country_Number,country_names
7,North America,NaN,Antigua and Barbuda,AG,ATG,28.0,"Antigua and Barbuda,"
13,North America,NaN,"Bahamas, Commonwealth of the",BS,BHS,44.0,"Bahamas, Commonwealth of the,"
18,North America,NaN,Barbados,BB,BRB,52.0,"Barbados,"
20,North America,NaN,Bermuda,BM,BMU,60.0,"Bermuda,"
27,North America,NaN,Belize,BZ,BLZ,84.0,"Belize,"
30,North America,NaN,British Virgin Islands,VG,VGB,92.0,"British Virgin Islands,"
38,North America,NaN,Canada,CA,CAN,124.0,"Canada,"
40,North America,NaN,Cayman Islands,KY,CYM,136.0,"Cayman Islands,"
55,North America,NaN,"Costa Rica, Republic of",CR,CRI,188.0,"Costa Rica, Republic of,"
57,North America,NaN,"Cuba, Republic of",CU,CUB,192.0,"Cuba, Republic of,"
63,North America,NaN,"Dominica, Commonwealth of",DM,DMA,212.0,"Dominica, Commonwealth of,"
64,North America,NaN,Dominican Republic,DO,DOM,214.0,"Dominican Republic,"
66,North America,NaN,"El Salvador, Republic of",SV,SLV,222.0,"El Salvador, Republic of,"
92,North America,NaN,Greenland,GL,GRL,304.0,"Greenland,"
93,North America,NaN,Grenada,GD,GRD,308.0,"Grenada,"
94,North America,NaN,Guadeloupe,GP,GLP,312.0,"Guadeloupe,"
96,North America,NaN,"Guatemala, Republic of",GT,GTM,320.0,"Guatemala, Republic of,"
99,North America,NaN,"Haiti, Republic of",HT,HTI,332.0,"Haiti, Republic of,"
102,North America,NaN,"Honduras, Republic of",HN,HND,340.0,"Honduras, Republic of,"
114,North America,NaN,Jamaica,JM,JAM,388.0,"Jamaica,"
140,North America,NaN,Martinique,MQ,MTQ,474.0,"Martinique,"
143,North America,NaN,"Mexico, United Mexican States",MX,MEX,484.0,"Mexico, United Mexican States,"
148,North America,NaN,Montserrat,MS,MSR,500.0,"Montserrat,"
156,North America,NaN,Netherlands Antilles,AN,ANT,530.0,"Netherlands Antilles,"
157,North America,NaN,Curaçao,CW,CUW,531.0,"Curaçao,"
158,North America,NaN,Aruba,AW,ABW,533.0,"Aruba,"
159,North America,NaN,Sint Maarten (Netherlands),SX,SXM,534.0,"Sint Maarten (Netherlands),"
160,North America,NaN,"Bonaire, Sint Eustatius and Saba",BQ,BES,535.0,"Bonaire, Sint Eustatius and Saba,"
164,North America,NaN,"Nicaragua, Republic of",NI,NIC,558.0,"Nicaragua, Republic of,"
172,North America,NaN,United States Minor Outlying Islands,UM,UMI,581.0,"United States Minor Outlying Islands,"
177,North America,NaN,"Panama, Republic of",PA,PAN,591.0,"Panama, Republic of,"
187,North America,NaN,"Puerto Rico, Commonwealth of",PR,PRI,630.0,"Puerto Rico, Commonwealth of,"
194,North America,NaN,Saint Barthelemy,BL,BLM,652.0,"Saint Barthelemy,"
196,North America,NaN,"Saint Kitts and Nevis, Federation of",KN,KNA,659.0,"Saint Kitts and Nevis, Federation of,"
197,North America,NaN,Anguilla,AI,AIA,660.0,"Anguilla,"
198,North America,NaN,Saint Lucia,LC,LCA,662.0,"Saint Lucia,"
199,North America,NaN,Saint Martin,MF,MAF,663.0,"Saint Martin,"
200,North America,NaN,Saint Pierre and Miquelon,PM,SPM,666.0,"Saint Pierre and Miquelon,"
201,North America,NaN,Saint Vincent and the Grenadines,VC,VCT,670.0,"Saint Vincent and the Grenadines,"
231,North America,NaN,"Trinidad and Tobago, Republic of",TT,TTO,780.0,"Trinidad and Tobago, Republic of,"
237,North America,NaN,Turks and Caicos Islands,TC,TCA,796.0,"Turks and Caicos Islands,"
248,North America,NaN,United States of America,US,USA,840.0,"United States of America,"
249,North America,NaN,United States Virgin Islands,VI,VIR,850.0,"United States Virgin Islands,"

In [88]:
split = continent["country_names"].str.split(",",expand=True)
new_df = pd.merge(continent , split, left_index=True, right_index=True,how="left")
new_df

,Continent_Name,Continent_Code,Country_Name,Two_Letter_Country_Code,Three_Letter_Country_Code,Country_Number,country_names,0,1,2
0,Asia,AS,"Afghanistan, Islamic Republic of",AF,AFG,4.0,"Afghanistan, Islamic Republic of,",Afghanistan,Islamic Republic of,
1,Europe,EU,"Albania, Republic of",AL,ALB,8.0,"Albania, Republic of,",Albania,Republic of,
2,Antarctica,AN,Antarctica (the territory South of 60 deg S),AQ,ATA,10.0,"Antarctica (the territory South of 60 deg S),",Antarctica (the territory South of 60 deg S),,None
3,Africa,AF,"Algeria, People's Democratic Republic of",DZ,DZA,12.0,"Algeria, People's Democratic Republic of,",Algeria,People's Democratic Republic of,
4,Oceania,OC,American Samoa,AS,ASM,16.0,"American Samoa,",American Samoa,,None
...,...,...,...,...,...,...,...,...,...,...
257,Africa,AF,"Zambia, Republic of",ZM,ZMB,894.0,"Zambia, Republic of,",Zambia,Republic of,
258,Oceania,OC,Disputed Territory,XX,NaN,NaN,"Disputed Territory,",Disputed Territory,,None
259,Asia,AS,Iraq-Saudi Arabia Neutral Zone,XE,NaN,NaN,"Iraq-Saudi Arabia Neutral Zone,",Iraq-Saudi Arabia Neutral Zone,,None
260,Asia,AS,United Nations Neutral Zone,XD,NaN,NaN,"United Nations Neutral Zone,",United Nations Neutral Zone,,None
261,Asia,AS,Spratly Islands,XS,NaN,NaN,"Spratly Islands,",Spratly Islands,,None

In [89]:
new_df = new_df[["Continent_Name","Three_Letter_Country_Code", 0 ]]

In [90]:
new_df = new_df.rename( columns = {0 : "Country_x1"})

In [91]:
#new_df.to_csv("/Users/eamonnmccallum/Monash-DS/groupwork/STDs/work/data/contient_&_country_list.csv")

In [107]:
check = new_df.loc[new_df["Country_x1"]== "United States"]
check

Empty DataFrame
Columns: [index, Continent_Name, Three_Letter_Country_Code, Country_x1]
Index: []

In [93]:
new_df = new_df.astype({"Country_x1": str })
new_df = new_df.sort_values("Country_x1")
new_df = new_df.reset_index()
new_df.tail(20)

,index,Continent_Name,Three_Letter_Country_Code,Country_x1
242,239,Africa,UGA,Uganda
243,240,Europe,UKR,Ukraine
244,232,Asia,ARE,United Arab Emirates
245,243,Europe,GBR,United Kingdom of Great Britain & Northern Ire...
246,260,Asia,NaN,United Nations Neutral Zone
247,171,Oceania,UMI,United States Minor Outlying Islands
248,172,North America,UMI,United States Minor Outlying Islands
249,249,North America,VIR,United States Virgin Islands
250,248,North America,USA,United States of America
251,251,South America,URY,Uruguay
252,252,Asia,UZB,Uzbekistan
253,162,Oceania,VUT,Vanuatu
254,253,South America,VEN,Venezuela
255,211,Asia,VNM,Vietnam
256,254,Oceania,WLF,Wallis and Futuna
257,218,Africa,ESH,Western Sahara
258,256,Asia,YEM,Yemen
259,257,Africa,ZMB,Zambia
260,215,Africa,ZWE,Zimbabwe
261,76,Europe,ALA,Åland Islands

In [94]:
clean_df = pd.read_csv("/Users/eamonnmccallum/Monash-DS/groupwork/STDs/work/data/numbeo_ranking_country.csv")

In [95]:
clean_df = clean_df.astype({"Country": str })
clean_df = clean_df.sort_values("Country")
working_df1 = pd.DataFrame(clean_df["Country"])
working_df1 = working_df1.drop_duplicates()
working_df1

        Country
96      Albania
449     Algeria
395   Argentina
332     Armenia
356   Australia
..          ...
58   Uzbekistan
320   Venezuela
429     Vietnam
183      Zambia
37     Zimbabwe

[130 rows x 1 columns]

In [96]:
combined_df = pd.merge(working_df1, new_df, left_on="Country", right_on="Country_x1", how='inner' )
combined_df.to_csv("working_country_contin.csv")

In [97]:
combined_df = combined_df[["Country", "Continent_Name", "Three_Letter_Country_Code"]]

In [98]:
final_df = pd.merge(clean_df, combined_df, on="Country", how='left' )

In [99]:
final_df.to_csv("combined_test.csv")

In [100]:
nan_df = final_df[final_df['Continent_Name'].isnull()]

In [102]:
nan_df

,Unnamed: 0,Country,Year,Ranking,CostOfLiving_index,Rent_index,Groceries_index,RestaurantPrice_index,LocalPurchPower_index,Continent_Name,Three_Letter_Country_Code
79,85,Bosnia And Herzegovina,2018,86,39.26,6.94,33.76,26.68,52.40,NaN,NaN
80,86,Bosnia And Herzegovina,2019,87,35.72,6.32,28.81,23.78,49.18,NaN,NaN
81,105,Bosnia And Herzegovina,2016,106,34.59,5.83,29.77,24.07,60.64,NaN,NaN
82,95,Bosnia And Herzegovina,2015,96,42.30,7.31,37.52,29.14,44.74,NaN,NaN
83,98,Bosnia And Herzegovina,2017,99,35.05,6.22,29.76,24.22,51.29,NaN,NaN
90,51,Brunei,2016,52,51.93,20.20,50.61,33.04,94.30,NaN,NaN
298,108,Kosovo (Disputed Territory),2018,109,29.44,8.65,26.29,20.97,59.23,NaN,NaN
299,114,Kosovo (Disputed Territory),2019,115,26.18,8.05,23.21,19.57,61.82,NaN,NaN
300,102,Kosovo (Disputed Territory),2015,103,40.17,14.76,30.52,29.75,29.19,NaN,NaN
316,70,Libya,2015,71,52.12,19.12,58.09,47.66,44.29,NaN,NaN
317,72,Libya,2017,73,45.85,18.80,47.01,35.69,132.65,NaN,NaN
318,84,Libya,2016,85,39.66,14.08,39.71,32.17,62.51,NaN,NaN
394,92,North Macedonia,2018,93,34.84,6.91,28.73,23.64,42.55,NaN,NaN
395,108,North Macedonia,2017,109,30.93,6.02,25.41,20.74,39.85,NaN,NaN
396,111,North Macedonia,2015,112,37.41,7.02,31.99,28.48,35.48,NaN,NaN
397,101,North Macedonia,2019,102,31.58,6.47,24.85,23.67,39.83,NaN,NaN
398,110,North Macedonia,2016,111,31.05,5.92,26.14,21.17,46.74,NaN,NaN
410,40,Palestine,2018,41,58.16,10.29,54.43,41.78,60.19,NaN,NaN
411,50,Palestine,2019,51,50.20,9.00,43.90,37.33,57.17,NaN,NaN
412,65,Palestine,2015,66,53.27,7.55,48.50,35.97,46.09,NaN,NaN
413,48,Palestine,2017,49,53.46,10.31,50.02,37.80,50.54,NaN,NaN
414,48,Palestine,2016,49,52.88,9.19,49.77,38.04,53.54,NaN,NaN
456,76,Russia,2018,77,43.89,16.61,35.90,45.91,51.11,NaN,NaN
457,90,Russia,2016,91,38.48,17.13,32.22,42.05,57.42,NaN,NaN
458,87,Russia,2019,88,35.52,12.68,29.18,37.00,45.38,NaN,NaN
459,42,Russia,2015,43,61.91,28.73,49.88,71.80,38.86,NaN,NaN
460,80,Russia,2017,81,42.01,17.58,33.58,43.85,48.27,NaN,NaN
476,63,Slovakia,2019,64,44.98,16.13,38.50,33.64,63.24,NaN,NaN
477,70,Slovakia,2016,71,45.00,14.98,40.59,31.81,68.80,NaN,NaN
478,55,Slovakia,2018,56,50.41,18.86,43.66,37.34,67.29,NaN,NaN
479,71,Slovakia,2015,72,51.60,17.42,46.94,38.13,56.05,NaN,NaN
480,74,Slovakia,2017,75,44.90,16.49,38.84,33.17,64.75,NaN,NaN
491,16,South Korea,2018,17,82.94,23.39,99.67,48.98,109.36,NaN,NaN
492,17,South Korea,2015,18,82.90,35.55,98.06,52.51,85.83,NaN,NaN
493,8,South Korea,2019,9,76.93,22.23,89.70,44.84,103.40,NaN,NaN
494,18,South Korea,2017,19,75.41,22.02,88.52,44.62,102.38,NaN,NaN
495,21,South Korea,2016,22,73.18,34.41,86.23,41.18,120.64,NaN,NaN
516,110,Syria,2015,111,38.24,10.35,35.37,31.25,23.11,NaN,NaN
517,114,Syria,2017,115,28.31,5.98,26.72,22.21,14.08,NaN,NaN
518,109,Syria,2018,110,27.81,5.12,26.23,22.16,11.32,NaN,NaN
519,109,Syria,2016,110,31.75,8.02,29.84,23.68,25.83,NaN,NaN
535,49,Trinidad And Tobago,2018,50,54.57,18.76,53.37,50.33,54.91,NaN,NaN
536,41,Trinidad And Tobago,2019,42,52.07,17.13,50.00,46.00,56.97,NaN,NaN
537,42,Trinidad And Tobago,2016,43,55.67,22.45,53.80,48.58,68.21,NaN,NaN
538,42,Trinidad And Tobago,2017,43,56.15,21.09,53.54,51.94,57.14,NaN,NaN
539,49,Trinidad And Tobago,2015,50,59.08,22.15,60.07,51.01,46.98,NaN,NaN
565,23,United Kingdom,2019,24,65.28,28.60,51.85,72.37,105.73,NaN,NaN
566,28,United Kingdom,2017,29,69.49,30.98,55.85,76.84,96.85,NaN,NaN
567,11,United Kingdom,2016,12,81.03,36.29,68.48,86.68,120.00,NaN,NaN
568,9,United Kingdom,2015,10,92.19,39.19,84.58,95.97,98.12,NaN,NaN
569,22,United Kingdom,2018,23,75.85,33.40,60.96,83.87,108.54,NaN,NaN
570,24,United States,2018,25,72.95,38.52,73.93,69.95,127.62,NaN,NaN
571,23,United States,2015,24,76.53,36.17,81.81,68.06,126.09,NaN,NaN
572,19,United States,2019,20,69.91,38.98,67.44,69.33,122.03,NaN,NaN
573,20,United States,2016,21,74.08,38.39,75.69,69.13,139.17,NaN,NaN
574,17,United States,2017,18,75.42,40.30,75.57,70.02,123.17,NaN,NaN
580,5,Us Virgin Islands,2017,6,85.86,37.23,75.41,81.12,95.82,NaN,NaN