In [1]:
# import modules
import pandas as pd

In [ ]:
# Scrape data and check for number of records per year
years = (2015, 2016, 2017, 2018, 2019)

all_COLI_data = []

for year in years:
    url = 'https://www.numbeo.com/cost-of-living/rankings_by_country.jsp?title=' + str(year)
    print(url)
    COLI_data = pd.read_html(url)
    print(len(COLI_data[2]))
    all_COLI_data.append(COLI_data[2])

In [ ]:
#df_2015 = pd.DataFrame(all_COLI_data[0])
#df_2016 = pd.DataFrame(all_COLI_data[1])
#df_2017 = pd.DataFrame(all_COLI_data[2])
#df_2018 = pd.DataFrame(all_COLI_data[3])
#df_2019 = pd.DataFrame(all_COLI_data[4])
#ranking_df = pd.concat([df_2015, df_2016, df_2017,df_2018,df_2019 ])
#ranking_df.to_csv("/Users/eamonnmccallum/Monash-DS/groupwork/STDs/work/data/numbeo_ranking_raw.csv")
#ranking_df

In [2]:
continent  = pd.read_csv("/Users/eamonnmccallum/Monash-DS/groupwork/STDs/work/data/country-and-continent-codes-list-csv_csv.csv")
continent["country_names"] = continent["Country_Name"].astype(str) + " , "

In [3]:
split = continent["country_names"].str.split(",",expand=True)
new_df = pd.merge(continent , split2, left_index=True, right_index=True,how="left")

In [4]:
new_df = new_df[["Continent_Name","Three_Letter_Country_Code", 0 ]]

In [5]:
new_df = new_df.rename( columns = {0 : "Country_x1"})

In [6]:
#new_df.to_csv("/Users/eamonnmccallum/Monash-DS/groupwork/STDs/work/data/contient_&_country_list.csv")

In [7]:
new_df.iloc[248,2] = "United States"
new_df.iloc[243,2] = "United Kingdom"
new_df.iloc[243,2]

'United Kingdom'

In [8]:
new_df = new_df.astype({"Country_x1": str })
new_df = new_df.sort_values("Country_x1")
new_df = new_df.reset_index()

In [9]:
clean_df = pd.read_csv("/Users/eamonnmccallum/Monash-DS/groupwork/STDs/work/data/numbeo_ranking_country.csv")

In [10]:
clean_df = clean_df.astype({"Country": str })
clean_df = clean_df.sort_values("Country")
working_df1 = pd.DataFrame(clean_df["Country"])
working_df1 = working_df1.drop_duplicates()
working_df1

        Country
96      Albania
449     Algeria
395   Argentina
332     Armenia
356   Australia
..          ...
58   Uzbekistan
320   Venezuela
429     Vietnam
183      Zambia
37     Zimbabwe

[130 rows x 1 columns]

In [11]:
combined_df = pd.merge(working_df1, new_df, left_on="Country", right_on="Country_x1", how='inner' )
combined_df.to_csv("working_country_contin.csv")

In [12]:
combined_df = combined_df[["Country", "Continent_Name", "Three_Letter_Country_Code"]]

In [13]:
final_df = pd.merge(clean_df, combined_df, on="Country", how='left' )

In [ ]:
#final_df.to_csv("combined_test.csv")

In [14]:
nan_df = final_df[final_df['Continent_Name'].isnull()]

In [15]:
nan_df["Country"].value_counts()

Taiwan                         5
Japan                          5
Russia                         5
North Macedonia                5
Czech Republic                 5
Ireland                        5
United Arab Emirates           5
Jamaica                        5
Dominican Republic             5
Malaysia                       5
New Zealand                    5
Trinidad And Tobago            5
Bosnia And Herzegovina         5
Slovakia                       5
South Korea                    5
Canada                         5
Palestine                      5
Romania                        5
Syria                          4
Belize                         4
Kosovo (Disputed Territory)    3
Ukraine                        3
Georgia                        3
Libya                          3
Bermuda                        3
Us Virgin Islands              1
Brunei                         1
Mongolia                       1
Name: Country, dtype: int64

In [16]:
len(nan_df["Country"].value_counts())

28

In [19]:
happy_df = pd.read_csv("/Users/eamonnmccallum/Monash-DS/groupwork/STDs/work/data/world_happines_index_kaggle")

ParserError: Error tokenizing data. C error: Calling read(nbytes) on source failed. Try engine='python'.