In [22]:
# import modules
import pandas as pd
import numpy as np

In [23]:
# scrape data and check for number of records per year
years = (2015, 2016, 2017, 2018, 2019)

all_COLI_data = []

for year in years:
    url = 'https://www.numbeo.com/cost-of-living/rankings_by_country.jsp?title=' + str(year)
    print(url)
    COLI_data = pd.read_html(url)
    print(len(COLI_data[2]))
    all_COLI_data.append(COLI_data[2])

https://www.numbeo.com/cost-of-living/rankings_by_country.jsp?title=2015
119
https://www.numbeo.com/cost-of-living/rankings_by_country.jsp?title=2016
122
https://www.numbeo.com/cost-of-living/rankings_by_country.jsp?title=2017
121
https://www.numbeo.com/cost-of-living/rankings_by_country.jsp?title=2018
115
https://www.numbeo.com/cost-of-living/rankings_by_country.jsp?title=2019
119

In [24]:
# create a dataframe for each year
COLI_df_2015 = pd.DataFrame(all_COLI_data[0])
COLI_df_2016 = pd.DataFrame(all_COLI_data[1])
COLI_df_2017 = pd.DataFrame(all_COLI_data[2])
COLI_df_2018 = pd.DataFrame(all_COLI_data[3])
COLI_df_2019 = pd.DataFrame(all_COLI_data[4])

# add a column for year and assigning year value
COLI_df_2015["Year"] = [int(2015)]*len(all_COLI_data[0]) 
COLI_df_2016["Year"] = [int(2016)]*len(all_COLI_data[1]) 
COLI_df_2017["Year"] = [int(2017)]*len(all_COLI_data[2]) 
COLI_df_2018["Year"] = [int(2018)]*len(all_COLI_data[3]) 
COLI_df_2019["Year"] = [int(2019)]*len(all_COLI_data[4]) 

# add annual ranking based on row number + 1
COLI_df_2015["Ranking"] = np.arange(start = 1, stop = len(COLI_df_2015)+1, step = 1)
COLI_df_2016["Ranking"] = np.arange(start = 1, stop = len(COLI_df_2016)+1, step = 1)
COLI_df_2017["Ranking"] = np.arange(start = 1, stop = len(COLI_df_2017)+1, step = 1)
COLI_df_2018["Ranking"] = np.arange(start = 1, stop = len(COLI_df_2018)+1, step = 1)
COLI_df_2019["Ranking"] = np.arange(start = 1, stop = len(COLI_df_2019)+1, step = 1)

In [25]:
# concatenate dataframes for all years to find common countries across all years
result_df = pd.concat([COLI_df_2015,COLI_df_2016, COLI_df_2017, COLI_df_2018, COLI_df_2019],
                      axis=1, 
                      join="inner"
                     )
result_df

,Rank,Country,Cost of Living Index,Rent Index,Cost of Living Plus Rent Index,Groceries Index,Restaurant Price Index,Local Purchasing Power Index,Year,Ranking,...,Rank,Country,Cost of Living Index,Rent Index,Cost of Living Plus Rent Index,Groceries Index,Restaurant Price Index,Local Purchasing Power Index,Year,Ranking
0,NaN,Switzerland,126.03,57.63,92.61,128.44,127.64,146.51,2015,1,...,NaN,Switzerland,121.16,50.25,87.11,120.81,123.09,129.70,2019,1
1,NaN,Norway,118.59,48.70,84.43,110.06,141.45,96.30,2015,2,...,NaN,Iceland,101.86,48.28,76.13,92.10,111.85,91.80,2019,2
2,NaN,Venezuela,111.01,34.13,73.44,128.43,91.09,11.90,2015,3,...,NaN,Norway,100.99,37.28,70.40,92.67,111.53,103.61,2019,3
3,NaN,Iceland,102.14,35.86,69.75,103.76,105.21,70.84,2015,4,...,NaN,Bahamas,92.40,33.49,64.11,76.97,99.92,57.01,2019,4
4,NaN,Denmark,100.60,34.71,68.40,88.59,117.53,105.70,2015,5,...,NaN,Luxembourg,86.09,55.64,71.47,75.10,96.08,106.26,2019,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
110,NaN,Syria,38.24,10.35,24.61,35.37,31.25,23.11,2015,111,...,NaN,Georgia,28.78,8.53,19.05,23.39,27.09,33.19,2019,111
111,NaN,North Macedonia,37.41,7.02,22.56,31.99,28.48,35.48,2015,112,...,NaN,Ukraine,27.94,9.53,19.10,22.47,22.14,32.72,2019,112
112,NaN,Egypt,37.22,9.01,23.43,35.09,32.04,25.84,2015,113,...,NaN,Uzbekistan,27.11,8.27,18.06,23.90,21.14,25.09,2019,113
113,NaN,Moldova,34.72,7.69,21.51,29.75,28.38,23.70,2015,114,...,NaN,Egypt,26.46,5.01,16.16,23.19,22.26,23.67,2019,114
114,NaN,Algeria,34.10,7.83,21.26,33.95,26.96,36.94,2015,115,...,NaN,Kosovo (Disputed Territory),26.18,8.05,17.48,23.21,19.57,61.82,2019,115

In [26]:
# slice dataframes to create dataframes for each year
COLI_df_2015 = result_df.iloc[:,1:10]
COLI_df_2016 = result_df.iloc[:,11:20]
COLI_df_2017 = result_df.iloc[:,21:30]
COLI_df_2018 = result_df.iloc[:,31:40]
COLI_df_2019 = result_df.iloc[:,41:50]

In [27]:
# concatenate dataframes for all years to find common countries across all years
COLI_df = pd.concat([COLI_df_2015,COLI_df_2016, COLI_df_2017, COLI_df_2018, COLI_df_2019
                    ], 
                    axis=0, 
                    join="inner"
                   )

In [28]:
COLI_df

,Country,Cost of Living Index,Rent Index,Cost of Living Plus Rent Index,Groceries Index,Restaurant Price Index,Local Purchasing Power Index,Year,Ranking
0,Switzerland,126.03,57.63,92.61,128.44,127.64,146.51,2015,1
1,Norway,118.59,48.70,84.43,110.06,141.45,96.30,2015,2
2,Venezuela,111.01,34.13,73.44,128.43,91.09,11.90,2015,3
3,Iceland,102.14,35.86,69.75,103.76,105.21,70.84,2015,4
4,Denmark,100.60,34.71,68.40,88.59,117.53,105.70,2015,5
...,...,...,...,...,...,...,...,...,...
110,Georgia,28.78,8.53,19.05,23.39,27.09,33.19,2019,111
111,Ukraine,27.94,9.53,19.10,22.47,22.14,32.72,2019,112
112,Uzbekistan,27.11,8.27,18.06,23.90,21.14,25.09,2019,113
113,Egypt,26.46,5.01,16.16,23.19,22.26,23.67,2019,114
114,Kosovo (Disputed Territory),26.18,8.05,17.48,23.21,19.57,61.82,2019,115

In [29]:
# rename columns to remove spacing
COLI_df.rename(columns={"Cost of Living Index":"CostOfLiving_index",
                        "Rent Index":"Rent_index",
                        "Groceries Index":"Groceries_index",
                        "Restaurant Price Index":"RestaurantPrice_index",
                        "Local Purchasing Power Index":"LocalPurchPower_index"
                       }, 
               inplace=True
              )

In [30]:
# slice dataframe (keeping relevant columns) and rearrange column order
COLI_df = COLI_df[["Country", "Year", "Ranking", "CostOfLiving_index", "Rent_index", "Groceries_index", 
                   "RestaurantPrice_index","LocalPurchPower_index"
                  ]
                 ]

In [31]:
# display dataframe
COLI_df

,Country,Year,Ranking,CostOfLiving_index,Rent_index,Groceries_index,RestaurantPrice_index,LocalPurchPower_index
0,Switzerland,2015,1,126.03,57.63,128.44,127.64,146.51
1,Norway,2015,2,118.59,48.70,110.06,141.45,96.30
2,Venezuela,2015,3,111.01,34.13,128.43,91.09,11.90
3,Iceland,2015,4,102.14,35.86,103.76,105.21,70.84
4,Denmark,2015,5,100.60,34.71,88.59,117.53,105.70
...,...,...,...,...,...,...,...,...
110,Georgia,2019,111,28.78,8.53,23.39,27.09,33.19
111,Ukraine,2019,112,27.94,9.53,22.47,22.14,32.72
112,Uzbekistan,2019,113,27.11,8.27,23.90,21.14,25.09
113,Egypt,2019,114,26.46,5.01,23.19,22.26,23.67
114,Kosovo (Disputed Territory),2019,115,26.18,8.05,23.21,19.57,61.82

In [32]:
COLI_df = COLI_df.to_csv("/Users/eamonnmccallum/Monash-DS/groupwork/STDs/work/data/numbeo_ranking_country.csv")

In [11]:
# Scrape data and check for number of records per year
all_property_data = []

for year in years:
    url = 'https://www.numbeo.com/property-investment/rankings_by_country.jsp?title=' + str(year)
    print(url)
    property_data = pd.read_html(url)
    print(len(property_data[2]))
    all_property_data.append(property_data[2])

https://www.numbeo.com/property-investment/rankings_by_country.jsp?title=2015
121
https://www.numbeo.com/property-investment/rankings_by_country.jsp?title=2016
102
https://www.numbeo.com/property-investment/rankings_by_country.jsp?title=2017
99
https://www.numbeo.com/property-investment/rankings_by_country.jsp?title=2018
89
https://www.numbeo.com/property-investment/rankings_by_country.jsp?title=2019
93

In [12]:
# create a dataframe for each year
property_df_2015 = pd.DataFrame(all_property_data[0])
property_df_2016 = pd.DataFrame(all_property_data[1])
property_df_2017 = pd.DataFrame(all_property_data[2])
property_df_2018 = pd.DataFrame(all_property_data[3])
property_df_2019 = pd.DataFrame(all_property_data[4])

# add a column for year and assigning year value
property_df_2015["Year"] = [int(2015)]*len(all_property_data[0]) 
property_df_2016["Year"] = [int(2016)]*len(all_property_data[1]) 
property_df_2017["Year"] = [int(2017)]*len(all_property_data[2]) 
property_df_2018["Year"] = [int(2018)]*len(all_property_data[3]) 
property_df_2019["Year"] = [int(2019)]*len(all_property_data[4])

In [13]:
# concatenate dataframes for all years to find common countries across all years
property_result_df = pd.concat([property_df_2015,property_df_2016, property_df_2017, 
                                property_df_2018, property_df_2019
                               ], 
                               axis=1, 
                               join="inner"
                              )
property_result_df

,Rank,Country,Price To Income Ratio,Gross Rental Yield City Centre,Gross Rental Yield Outside of Centre,Price To Rent Ratio City Centre,Price To Rent Ratio Outside Of City Centre,Mortgage As A Percentage Of Income,Affordability Index,Year,...,Rank,Country,Price To Income Ratio,Gross Rental Yield City Centre,Gross Rental Yield Outside of Centre,Price To Rent Ratio City Centre,Price To Rent Ratio Outside Of City Centre,Mortgage As A Percentage Of Income,Affordability Index,Year
0,NaN,Uganda,31.13,1.86,10.02,53.70,9.98,649.36,0.15,2015,...,NaN,Hong Kong,49.42,1.84,1.86,54.47,53.79,310.55,0.32,2019
1,NaN,Syria,30.49,3.95,3.15,25.33,31.75,283.67,0.35,2015,...,NaN,China,29.09,1.83,2.01,54.51,49.85,231.33,0.43,2019
2,NaN,Hong Kong,30.09,2.67,2.77,37.49,36.08,192.99,0.52,2015,...,NaN,Taiwan,28.91,1.97,2.38,50.65,41.99,174.62,0.57,2019
3,NaN,Myanmar,26.84,8.47,2.95,11.81,33.92,317.96,0.31,2015,...,NaN,Sri Lanka,26.32,3.41,3.25,29.35,30.77,403.42,0.25,2019
4,NaN,Ghana,26.62,10.77,13.45,9.28,7.44,670.38,0.15,2015,...,NaN,Nepal,25.15,2.38,2.87,41.99,34.86,325.46,0.31,2019
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
84,NaN,Malaysia,8.35,4.60,4.24,21.75,23.57,64.84,1.54,2015,...,NaN,Cyprus,7.17,6.22,6.72,16.07,14.89,50.91,1.96,2019
85,NaN,Portugal,8.32,5.68,6.42,17.62,15.57,61.94,1.61,2015,...,NaN,Denmark,6.93,4.46,4.88,22.43,20.49,42.54,2.35,2019
86,NaN,Luxembourg,8.31,5.27,4.80,18.98,20.85,50.43,1.98,2015,...,NaN,Iceland,6.58,6.83,7.37,14.65,13.57,58.03,1.72,2019
87,NaN,Bahrain,7.89,9.32,10.82,10.73,9.24,69.39,1.44,2015,...,NaN,Qatar,5.74,6.96,7.27,14.37,13.76,44.29,2.26,2019
88,NaN,Norway,7.74,4.64,4.87,21.56,20.52,54.74,1.83,2015,...,NaN,Palestine,5.42,5.88,6.56,17.00,15.24,53.58,1.87,2019

In [14]:
# slice dataframes to create dataframes for each year
property_df_2015 = property_result_df.iloc[:,1:10]
property_df_2016 = property_result_df.iloc[:,11:20]
property_df_2017 = property_result_df.iloc[:,21:30]
property_df_2018 = property_result_df.iloc[:,31:40]
property_df_2019 = property_result_df.iloc[:,41:50]

In [15]:
# concatenate dataframes for all years to find common countries across all years
property_df = pd.concat([property_df_2015, property_df_2016, property_df_2017,
                         property_df_2018, property_df_2019
                        ], 
                        axis=0, 
                        join="inner"
                       )

In [16]:
# slice dataframe (keeping relevant columns) and rearrange column order
property_df = property_df[["Country", "Year", "Price To Income Ratio", "Mortgage As A Percentage Of Income", 
                           "Affordability Index"
                          ]
                         ]
property_df

,Country,Year,Price To Income Ratio,Mortgage As A Percentage Of Income,Affordability Index
0,Uganda,2015,31.13,649.36,0.15
1,Syria,2015,30.49,283.67,0.35
2,Hong Kong,2015,30.09,192.99,0.52
3,Myanmar,2015,26.84,317.96,0.31
4,Ghana,2015,26.62,670.38,0.15
...,...,...,...,...,...
84,Cyprus,2019,7.17,50.91,1.96
85,Denmark,2019,6.93,42.54,2.35
86,Iceland,2019,6.58,58.03,1.72
87,Qatar,2019,5.74,44.29,2.26
88,Palestine,2019,5.42,53.58,1.87

In [17]:
 # rename columns to remove spacing
property_df.rename(columns={"Price To Income Ratio":"price_income_ratio",
                            "Mortgage As A Percentage Of Income":"mortage_income_ratio",
                            "Affordability Index":"affordability_index"
                           }, 
                   inplace=True
                  )

In [18]:
property_df

,Country,Year,price_income_ratio,mortage_income_ratio,affordability_index
0,Uganda,2015,31.13,649.36,0.15
1,Syria,2015,30.49,283.67,0.35
2,Hong Kong,2015,30.09,192.99,0.52
3,Myanmar,2015,26.84,317.96,0.31
4,Ghana,2015,26.62,670.38,0.15
...,...,...,...,...,...
84,Cyprus,2019,7.17,50.91,1.96
85,Denmark,2019,6.93,42.54,2.35
86,Iceland,2019,6.58,58.03,1.72
87,Qatar,2019,5.74,44.29,2.26
88,Palestine,2019,5.42,53.58,1.87

In [ ]:
#COLI_df.to_csv("COLI_raw.csv")
#property_df.to_csv("property_raw.csv")