In [1]:
# import modules
import pandas as pd

In [2]:
# Scrape data and check for number of records per year
years = (2015, 2016, 2017, 2018, 2019)

all_COLI_data = []

for year in years:
    url = 'https://www.numbeo.com/cost-of-living/rankings_by_country.jsp?title=' + str(year)
    print(url)
    COLI_data = pd.read_html(url)
    print(len(COLI_data[2]))
    all_COLI_data.append(COLI_data[2])

https://www.numbeo.com/cost-of-living/rankings_by_country.jsp?title=2015
119
https://www.numbeo.com/cost-of-living/rankings_by_country.jsp?title=2016
122
https://www.numbeo.com/cost-of-living/rankings_by_country.jsp?title=2017
121
https://www.numbeo.com/cost-of-living/rankings_by_country.jsp?title=2018
115
https://www.numbeo.com/cost-of-living/rankings_by_country.jsp?title=2019
119

In [14]:
# Create dataframes, add a year column and concatenate
COLI_df_2015 = pd.DataFrame(all_COLI_data[0])
COLI_df_2015["Year"] = [int(2015)]*len(all_COLI_data[0]) 
COLI_df_2016 = pd.DataFrame(all_COLI_data[1])
COLI_df_2016["Year"] = [int(2016)]*len(all_COLI_data[1]) 
COLI_df_2017 = pd.DataFrame(all_COLI_data[2])
COLI_df_2017["Year"] = [int(2017)]*len(all_COLI_data[2]) 
COLI_df_2018 = pd.DataFrame(all_COLI_data[3])
COLI_df_2018["Year"] = [int(2018)]*len(all_COLI_data[3]) 
COLI_df_2019 = pd.DataFrame(all_COLI_data[4])
COLI_df_2019["Year"] = [int(2019)]*len(all_COLI_data[4]) 
COLI_df = pd.concat([COLI_df_2015, COLI_df_2016, COLI_df_2017, COLI_df_2018, COLI_df_2019])
#COLI_df.to_csv("COLI_raw.csv")
COLI_df

,Rank,Country,Cost of Living Index,Rent Index,Cost of Living Plus Rent Index,Groceries Index,Restaurant Price Index,Local Purchasing Power Index,Year
0,NaN,Switzerland,126.03,57.63,92.61,128.44,127.64,146.51,2015
1,NaN,Norway,118.59,48.70,84.43,110.06,141.45,96.30,2015
2,NaN,Venezuela,111.01,34.13,73.44,128.43,91.09,11.90,2015
3,NaN,Iceland,102.14,35.86,69.75,103.76,105.21,70.84,2015
4,NaN,Denmark,100.60,34.71,68.40,88.59,117.53,105.70,2015
...,...,...,...,...,...,...,...,...,...
114,NaN,Kosovo (Disputed Territory),26.18,8.05,17.48,23.21,19.57,61.82,2019
115,NaN,Venezuela,25.73,5.89,16.20,27.58,21.98,3.71,2019
116,NaN,India,24.17,5.84,15.37,24.20,17.15,66.91,2019
117,NaN,Tunisia,23.69,4.96,14.69,22.27,13.33,37.99,2019
118,NaN,Pakistan,20.40,4.50,12.76,18.25,15.42,38.61,2019

In [16]:
# Scrape data and check for number of records per year
all_property_data = []

for year in years:
    url = 'https://www.numbeo.com/property-investment/rankings_by_country.jsp?title=' + str(year)
    print(url)
    property_data = pd.read_html(url)
    print(len(property_data[2]))
    all_property_data.append(property_data[2])

https://www.numbeo.com/property-investment/rankings_by_country.jsp?title=2015
121
https://www.numbeo.com/property-investment/rankings_by_country.jsp?title=2016
102
https://www.numbeo.com/property-investment/rankings_by_country.jsp?title=2017
99
https://www.numbeo.com/property-investment/rankings_by_country.jsp?title=2018
89
https://www.numbeo.com/property-investment/rankings_by_country.jsp?title=2019
93

In [18]:
# Create dataframes, add a year column and concatenate
property_df_2015 = pd.DataFrame(all_property_data[0])
property_df_2015["Year"] = [int(2015)]*len(all_property_data[0]) 
property_df_2016 = pd.DataFrame(all_property_data[1])
property_df_2016["Year"] = [int(2016)]*len(all_property_data[1]) 
property_df_2017 = pd.DataFrame(all_property_data[2])
property_df_2017["Year"] = [int(2017)]*len(all_property_data[2]) 
property_df_2018 = pd.DataFrame(all_property_data[3])
property_df_2018["Year"] = [int(2018)]*len(all_property_data[3]) 
property_df_2019 = pd.DataFrame(all_property_data[4])
property_df_2019["Year"] = [int(2019)]*len(all_property_data[4]) 
property_df = pd.concat([property_df_2015, property_df_2016, property_df_2017, property_df_2018, property_df_2019])
#property_df.to_csv("property_raw.csv")
property_df

,Rank,Country,Price To Income Ratio,Gross Rental Yield City Centre,Gross Rental Yield Outside of Centre,Price To Rent Ratio City Centre,Price To Rent Ratio Outside Of City Centre,Mortgage As A Percentage Of Income,Affordability Index,Year
0,NaN,Uganda,31.13,1.86,10.02,53.70,9.98,649.36,0.15,2015
1,NaN,Syria,30.49,3.95,3.15,25.33,31.75,283.67,0.35,2015
2,NaN,Hong Kong,30.09,2.67,2.77,37.49,36.08,192.99,0.52,2015
3,NaN,Myanmar,26.84,8.47,2.95,11.81,33.92,317.96,0.31,2015
4,NaN,Ghana,26.62,10.77,13.45,9.28,7.44,670.38,0.15,2015
...,...,...,...,...,...,...,...,...,...,...
88,NaN,Palestine,5.42,5.88,6.56,17.00,15.24,53.58,1.87,2019
89,NaN,United Arab Emirates,4.40,10.24,10.68,9.77,9.36,31.52,3.17,2019
90,NaN,South Africa,4.11,9.56,11.16,10.46,8.96,49.15,2.03,2019
91,NaN,United States,3.58,10.40,11.24,9.61,8.90,26.81,3.73,2019
92,NaN,Saudi Arabia,2.89,6.80,7.71,14.70,12.97,20.64,4.85,2019

In [12]:
# Scrape data and check for number of records per year
all_QOL_data = []

for year in years:
    url = 'https://www.numbeo.com/quality-of-life/rankings_by_country.jsp?title=' + str(year)
    print(url)
    QOL_data = pd.read_html(url)
    print(len(QOL_data[2]))
    all_QOL_data.append(QOL_data[2])

https://www.numbeo.com/quality-of-life/rankings_by_country.jsp?title=2015
86
https://www.numbeo.com/quality-of-life/rankings_by_country.jsp?title=2016
56
https://www.numbeo.com/quality-of-life/rankings_by_country.jsp?title=2017
67
https://www.numbeo.com/quality-of-life/rankings_by_country.jsp?title=2018
60
https://www.numbeo.com/quality-of-life/rankings_by_country.jsp?title=2019
71

In [19]:
# Create dataframes, add a year column and concatenate
QOL_df_2015 = pd.DataFrame(all_QOL_data[0])
QOL_df_2015["Year"] = [int(2015)]*len(all_QOL_data[0]) 
QOL_df_2016 = pd.DataFrame(all_QOL_data[1])
QOL_df_2016["Year"] = [int(2016)]*len(all_QOL_data[1]) 
QOL_df_2017 = pd.DataFrame(all_QOL_data[2])
QOL_df_2017["Year"] = [int(2017)]*len(all_QOL_data[2]) 
QOL_df_2018 = pd.DataFrame(all_QOL_data[3])
QOL_df_2018["Year"] = [int(2018)]*len(all_QOL_data[3]) 
QOL_df_2019 = pd.DataFrame(all_QOL_data[4])
QOL_df_2019["Year"] = [int(2019)]*len(all_QOL_data[4]) 
QOL_df = pd.concat([QOL_df_2015, QOL_df_2016, QOL_df_2017, QOL_df_2018, QOL_df_2019])
#QOL_df.to_csv("QOL_raw.csv")
QOL_df

,Rank,Country,Quality of Life Index,Purchasing Power Index,Safety Index,Health Care Index,Cost of Living Index,Property Price to Income Ratio,Traffic Commute Time Index,Pollution Index,Climate Index,Year
0,NaN,Switzerland,222.94,146.51,73.23,66.31,126.03,7.28,25.63,24.07,-,2015
1,NaN,Germany,195.94,111.84,71.51,75.61,76.27,6.61,31.08,28.32,-,2015
2,NaN,Sweden,193.86,110.95,57.91,76.29,82.91,9.25,26.90,15.14,-,2015
3,NaN,United States,192.49,126.09,49.99,67.75,76.53,2.62,35.96,31.45,-,2015
4,NaN,Finland,190.25,101.17,70.45,69.37,89.68,7.01,33.17,14.91,-,2015
...,...,...,...,...,...,...,...,...,...,...,...,...
66,NaN,Philippines,90.73,29.46,59.17,65.87,35.09,21.83,44.15,74.47,60.23,2019
67,NaN,Vietnam,88.82,33.33,51.22,54.54,37.70,19.66,28.33,87.13,71.24,2019
68,NaN,Kazakhstan,87.17,38.83,33.49,51.27,29.83,11.51,29.75,74.25,39.78,2019
69,NaN,Iran,87.02,37.74,50.67,51.18,35.80,16.87,48.38,79.35,70.99,2019
70,NaN,Egypt,83.98,23.67,49.29,44.22,26.46,13.60,49.17,86.48,91.98,2019