In [9]:
# import modules
import pandas as pd
import numpy as np

In [92]:
# scrape data and check for number of records per year
years = (2015, 2016, 2017, 2018, 2019)

all_COLI_data = []

for year in years:
    url = 'https://www.numbeo.com/cost-of-living/rankings_by_country.jsp?title=' + str(year)
    print(url)
    COLI_data = pd.read_html(url)
    print(len(COLI_data[2]))
    all_COLI_data.append(COLI_data[2])

https://www.numbeo.com/cost-of-living/rankings_by_country.jsp?title=2015
119
https://www.numbeo.com/cost-of-living/rankings_by_country.jsp?title=2016
122
https://www.numbeo.com/cost-of-living/rankings_by_country.jsp?title=2017
121
https://www.numbeo.com/cost-of-living/rankings_by_country.jsp?title=2018
115
https://www.numbeo.com/cost-of-living/rankings_by_country.jsp?title=2019
119

In [136]:
# create a dataframe for each year
COLI_df_2015 = pd.DataFrame(all_COLI_data[0], index=["Country", "Year"])
COLI_df_2016 = pd.DataFrame(all_COLI_data[1], index=["Country", "Year"])
COLI_df_2017 = pd.DataFrame(all_COLI_data[2], index=["Country", "Year"])
COLI_df_2018 = pd.DataFrame(all_COLI_data[3], index=["Country", "Year"])
COLI_df_2019 = pd.DataFrame(all_COLI_data[4], index=["Country", "Year"])


# add a column for year and assigning year value
COLI_df_2015["Year"] = [int(2015)]*len(all_COLI_data[0]) 
COLI_df_2016["Year"] = [int(2016)]*len(all_COLI_data[1]) 
COLI_df_2017["Year"] = [int(2017)]*len(all_COLI_data[2]) 
COLI_df_2018["Year"] = [int(2018)]*len(all_COLI_data[3]) 
COLI_df_2019["Year"] = [int(2019)]*len(all_COLI_data[4]) 


# reset the annual ranking based on row number
COLI_df_2015["Rank"] = np.arange(len(COLI_df_2015))
COLI_df_2016["Rank"] = np.arange(len(COLI_df_2016))
COLI_df_2017["Rank"] = np.arange(len(COLI_df_2017))
COLI_df_2018["Rank"] = np.arange(len(COLI_df_2018))
COLI_df_2019["Rank"] = np.arange(len(COLI_df_2019))

In [192]:
# concatenate dataframes for all years

In [193]:
both_years_df = result_df.loc[((result_df["Year"] == 2015) &
                               (result_df["Year"] == 2019)),
                               "Rank":"Year"]

ValueError: Cannot index with multidimensional key

In [184]:
both_years_df

Empty DataFrame
Columns: [Rank, Country, Cost of Living Index, Rent Index, Cost of Living Plus Rent Index, Groceries Index, Restaurant Price Index, Local Purchasing Power Index, Year]
Index: []

In [195]:
result_df

,Rank,Country,Cost of Living Index,Rent Index,Cost of Living Plus Rent Index,Groceries Index,Restaurant Price Index,Local Purchasing Power Index,Year,Rank,...,Year,Rank,Country,Cost of Living Index,Rent Index,Cost of Living Plus Rent Index,Groceries Index,Restaurant Price Index,Local Purchasing Power Index,Year
0,0,Switzerland,126.03,57.63,92.61,128.44,127.64,146.51,2015,0,...,2018,0,Switzerland,121.16,50.25,87.11,120.81,123.09,129.70,2019
1,1,Norway,118.59,48.70,84.43,110.06,141.45,96.30,2015,1,...,2018,1,Iceland,101.86,48.28,76.13,92.10,111.85,91.80,2019
2,2,Venezuela,111.01,34.13,73.44,128.43,91.09,11.90,2015,2,...,2018,2,Norway,100.99,37.28,70.40,92.67,111.53,103.61,2019
3,3,Iceland,102.14,35.86,69.75,103.76,105.21,70.84,2015,3,...,2018,3,Bahamas,92.40,33.49,64.11,76.97,99.92,57.01,2019
4,4,Denmark,100.60,34.71,68.40,88.59,117.53,105.70,2015,4,...,2018,4,Luxembourg,86.09,55.64,71.47,75.10,96.08,106.26,2019
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
110,110,Syria,38.24,10.35,24.61,35.37,31.25,23.11,2015,110,...,2018,110,Georgia,28.78,8.53,19.05,23.39,27.09,33.19,2019
111,111,North Macedonia,37.41,7.02,22.56,31.99,28.48,35.48,2015,111,...,2018,111,Ukraine,27.94,9.53,19.10,22.47,22.14,32.72,2019
112,112,Egypt,37.22,9.01,23.43,35.09,32.04,25.84,2015,112,...,2018,112,Uzbekistan,27.11,8.27,18.06,23.90,21.14,25.09,2019
113,113,Moldova,34.72,7.69,21.51,29.75,28.38,23.70,2015,113,...,2018,113,Egypt,26.46,5.01,16.16,23.19,22.26,23.67,2019
114,114,Algeria,34.10,7.83,21.26,33.95,26.96,36.94,2015,114,...,2018,114,Kosovo (Disputed Territory),26.18,8.05,17.48,23.21,19.57,61.82,2019

In [4]:
# Scrape data and check for number of records per year
all_property_data = []

for year in years:
    url = 'https://www.numbeo.com/property-investment/rankings_by_country.jsp?title=' + str(year)
    print(url)
    property_data = pd.read_html(url)
    print(len(property_data[2]))
    all_property_data.append(property_data[2])

https://www.numbeo.com/property-investment/rankings_by_country.jsp?title=2015
121
https://www.numbeo.com/property-investment/rankings_by_country.jsp?title=2016
102
https://www.numbeo.com/property-investment/rankings_by_country.jsp?title=2017
99
https://www.numbeo.com/property-investment/rankings_by_country.jsp?title=2018
89
https://www.numbeo.com/property-investment/rankings_by_country.jsp?title=2019
93

In [5]:
# Create dataframes, add a year column and concatenate
property_df_2015 = pd.DataFrame(all_property_data[0])
property_df_2015["Year"] = [int(2015)]*len(all_property_data[0]) 


property_df_2016 = pd.DataFrame(all_property_data[1])
property_df_2016["Year"] = [int(2016)]*len(all_property_data[1]) 


property_df_2017 = pd.DataFrame(all_property_data[2])
property_df_2017["Year"] = [int(2017)]*len(all_property_data[2]) 


property_df_2018 = pd.DataFrame(all_property_data[3])
property_df_2018["Year"] = [int(2018)]*len(all_property_data[3]) 


property_df_2019 = pd.DataFrame(all_property_data[4])
property_df_2019["Year"] = [int(2019)]*len(all_property_data[4]) 


property_df = pd.concat([property_df_2015, property_df_2016, property_df_2017, property_df_2018, property_df_2019])

property_df

,Rank,Country,Price To Income Ratio,Gross Rental Yield City Centre,Gross Rental Yield Outside of Centre,Price To Rent Ratio City Centre,Price To Rent Ratio Outside Of City Centre,Mortgage As A Percentage Of Income,Affordability Index,Year
0,NaN,Uganda,31.13,1.86,10.02,53.70,9.98,649.36,0.15,2015
1,NaN,Syria,30.49,3.95,3.15,25.33,31.75,283.67,0.35,2015
2,NaN,Hong Kong,30.09,2.67,2.77,37.49,36.08,192.99,0.52,2015
3,NaN,Myanmar,26.84,8.47,2.95,11.81,33.92,317.96,0.31,2015
4,NaN,Ghana,26.62,10.77,13.45,9.28,7.44,670.38,0.15,2015
...,...,...,...,...,...,...,...,...,...,...
88,NaN,Palestine,5.42,5.88,6.56,17.00,15.24,53.58,1.87,2019
89,NaN,United Arab Emirates,4.40,10.24,10.68,9.77,9.36,31.52,3.17,2019
90,NaN,South Africa,4.11,9.56,11.16,10.46,8.96,49.15,2.03,2019
91,NaN,United States,3.58,10.40,11.24,9.61,8.90,26.81,3.73,2019
92,NaN,Saudi Arabia,2.89,6.80,7.71,14.70,12.97,20.64,4.85,2019

In [ ]:
COLI_df.rename(columns={"Cost of Living Index":"CostOfLiving_index",
                        "Rent Index":"Rent_index",
                        "Groceries Index":"Groceries_index",
                        "Restaurant Price Index":"RestaurantPrice_index",
                        "Local Purchasing Power Index":"LocalPurchPower_index"},
               inplace=True)

COLI_df = COLI_df[["Country", "Year", "Rank", "CostOfLiving_index", "Rent_index", "Groceries_index",
                   "RestaurantPrice_index","LocalPurchPower_index" ]] 

COLI_df.set_index("Year", inplace = True)
COLI_df.shape

In [6]:
#COLI_df.to_csv("COLI_raw.csv")
    #property_df.to_csv("property_raw.csv")