In [258]:
# import modules
import os
import pandas as pd
import numpy as np

In [259]:
# import happiness report csv files fo 2015-2019 
year_list = ['2015', '2016', '2017', '2018', '2019']
path =['../data/world_happines_index_kaggle/datasets_894_813759_{Year}.csv'.format(Year = year) for year in year_list]

In [260]:
# formatting dataset
def formatDt(data, year):
    data.insert(loc=0, column='Year', value=[year]*len(data))
    return data


data_2015 = formatDt(pd.read_csv(path[0]), year_list[0])
data_2016 = formatDt(pd.read_csv(path[1]), year_list[1]) 
data_2017 = formatDt(pd.read_csv(path[2]), year_list[2])
data_2018 = formatDt(pd.read_csv(path[3]), year_list[3])
data_2019 = formatDt(pd.read_csv(path[4]), year_list[4])

print(list(data_2015.columns))
print(list(data_2016.columns))
print(list(data_2017.columns))
print(list(data_2018.columns))
print(list(data_2019.columns))

['Year', 'Country', 'Region', 'Happiness Rank', 'Happiness Score', 'Standard Error', 'Economy (GDP per Capita)', 'Family', 'Health (Life Expectancy)', 'Freedom', 'Trust (Government Corruption)', 'Generosity', 'Dystopia Residual']
['Year', 'Country', 'Region', 'Happiness Rank', 'Happiness Score', 'Lower Confidence Interval', 'Upper Confidence Interval', 'Economy (GDP per Capita)', 'Family', 'Health (Life Expectancy)', 'Freedom', 'Trust (Government Corruption)', 'Generosity', 'Dystopia Residual']
['Year', 'Country', 'Happiness.Rank', 'Happiness.Score', 'Whisker.high', 'Whisker.low', 'Economy..GDP.per.Capita.', 'Family', 'Health..Life.Expectancy.', 'Freedom', 'Generosity', 'Trust..Government.Corruption.', 'Dystopia.Residual']
['Year', 'Overall rank', 'Country or region', 'Score', 'GDP per capita', 'Social support', 'Healthy life expectancy', 'Freedom to make life choices', 'Generosity', 'Perceptions of corruption']
['Year', 'Overall rank', 'Country or region', 'Score', 'GDP per capita', 'Social support', 'Healthy life expectancy', 'Freedom to make life choices', 'Generosity', 'Perceptions of corruption']

In [261]:
#drop columns
def intersection(lst1, lst2): 
    lst3 = [value for value in lst1 if value not in lst2]
    lst4 = [value for value in lst2 if value not in lst1]
    print(lst3)
    print(lst4)

intersection(list(data_2015.columns), list(data_2016.columns))

['Standard Error']
['Lower Confidence Interval', 'Upper Confidence Interval']

In [262]:
data_2015

,Year,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,2015,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,2015,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,2015,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,2015,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,2015,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176
...,...,...,...,...,...,...,...,...,...,...,...,...,...
153,2015,Rwanda,Sub-Saharan Africa,154,3.465,0.03464,0.22208,0.77370,0.42864,0.59201,0.55191,0.22628,0.67042
154,2015,Benin,Sub-Saharan Africa,155,3.340,0.03656,0.28665,0.35386,0.31910,0.48450,0.08010,0.18260,1.63328
155,2015,Syria,Middle East and Northern Africa,156,3.006,0.05015,0.66320,0.47489,0.72193,0.15684,0.18906,0.47179,0.32858
156,2015,Burundi,Sub-Saharan Africa,157,2.905,0.08658,0.01530,0.41587,0.22396,0.11850,0.10062,0.19727,1.83302
157,2015,Togo,Sub-Saharan Africa,158,2.839,0.06727,0.20868,0.13995,0.28443,0.36453,0.10731,0.16681,1.56726

In [263]:
data_2015.drop('Standard Error', axis=1, inplace=True)
data_2016.drop(['Lower Confidence Interval','Upper Confidence Interval'], axis=1, inplace=True)

In [264]:
intersection(list(data_2016.columns), list(data_2017.columns))

['Region', 'Happiness Rank', 'Happiness Score', 'Economy (GDP per Capita)', 'Health (Life Expectancy)', 'Trust (Government Corruption)', 'Dystopia Residual']
['Happiness.Rank', 'Happiness.Score', 'Whisker.high', 'Whisker.low', 'Economy..GDP.per.Capita.', 'Health..Life.Expectancy.', 'Trust..Government.Corruption.', 'Dystopia.Residual']

In [265]:
data_2016.drop('Region', axis=1, inplace=True)
data_2015.drop('Region', axis=1, inplace=True)
data_2017.drop(['Whisker.high', 'Whisker.low'], axis=1, inplace=True)

In [266]:
intersection(list(data_2017.columns), list(data_2018.columns))

['Country', 'Happiness.Rank', 'Happiness.Score', 'Economy..GDP.per.Capita.', 'Family', 'Health..Life.Expectancy.', 'Freedom', 'Trust..Government.Corruption.', 'Dystopia.Residual']
['Overall rank', 'Country or region', 'Score', 'GDP per capita', 'Social support', 'Healthy life expectancy', 'Freedom to make life choices', 'Perceptions of corruption']

In [267]:
columns_titles = ['Year', 'Country or region', 'Overall rank', 'Score', 'GDP per capita', 'Social support', 'Healthy life expectancy', 'Freedom to make life choices', 'Generosity', 'Perceptions of corruption']
data_2018=data_2018.reindex(columns=columns_titles)
data_2018

,Year,Country or region,Overall rank,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,2018,Finland,1,7.632,1.305,1.592,0.874,0.681,0.202,0.393
1,2018,Norway,2,7.594,1.456,1.582,0.861,0.686,0.286,0.340
2,2018,Denmark,3,7.555,1.351,1.590,0.868,0.683,0.284,0.408
3,2018,Iceland,4,7.495,1.343,1.644,0.914,0.677,0.353,0.138
4,2018,Switzerland,5,7.487,1.420,1.549,0.927,0.660,0.256,0.357
...,...,...,...,...,...,...,...,...,...,...
151,2018,Yemen,152,3.355,0.442,1.073,0.343,0.244,0.083,0.064
152,2018,Tanzania,153,3.303,0.455,0.991,0.381,0.481,0.270,0.097
153,2018,South Sudan,154,3.254,0.337,0.608,0.177,0.112,0.224,0.106
154,2018,Central African Republic,155,3.083,0.024,0.000,0.010,0.305,0.218,0.038
155,2018,Burundi,156,2.905,0.091,0.627,0.145,0.065,0.149,0.076

In [268]:
intersection(list(data_2017.columns), list(data_2018.columns))

['Country', 'Happiness.Rank', 'Happiness.Score', 'Economy..GDP.per.Capita.', 'Family', 'Health..Life.Expectancy.', 'Freedom', 'Trust..Government.Corruption.', 'Dystopia.Residual']
['Country or region', 'Overall rank', 'Score', 'GDP per capita', 'Social support', 'Healthy life expectancy', 'Freedom to make life choices', 'Perceptions of corruption']

In [269]:
data_2017.drop(['Family','Dystopia.Residual'], axis=1, inplace=True)
data_2018.drop('Social support', axis=1, inplace=True)

In [270]:
intersection(list(data_2018.columns), list(data_2019.columns))

[]
['Social support']

In [271]:
data_2019.drop('Social support', axis=1, inplace=True)
columns_titles = ['Year', 'Country or region', 'Overall rank', 'Score', 'GDP per capita', 'Healthy life expectancy', 'Freedom to make life choices', 'Generosity', 'Perceptions of corruption']
data_2019=data_2019.reindex(columns=columns_titles)
data_2019

,Year,Country or region,Overall rank,Score,GDP per capita,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,2019,Finland,1,7.769,1.340,0.986,0.596,0.153,0.393
1,2019,Denmark,2,7.600,1.383,0.996,0.592,0.252,0.410
2,2019,Norway,3,7.554,1.488,1.028,0.603,0.271,0.341
3,2019,Iceland,4,7.494,1.380,1.026,0.591,0.354,0.118
4,2019,Netherlands,5,7.488,1.396,0.999,0.557,0.322,0.298
...,...,...,...,...,...,...,...,...,...
151,2019,Rwanda,152,3.334,0.359,0.614,0.555,0.217,0.411
152,2019,Tanzania,153,3.231,0.476,0.499,0.417,0.276,0.147
153,2019,Afghanistan,154,3.203,0.350,0.361,0.000,0.158,0.025
154,2019,Central African Republic,155,3.083,0.026,0.105,0.225,0.235,0.035
155,2019,South Sudan,156,2.853,0.306,0.295,0.010,0.202,0.091

In [272]:
print(list(data_2015.columns))
print(list(data_2016.columns))
print(list(data_2017.columns))
print(list(data_2018.columns))
print(list(data_2019.columns))

['Year', 'Country', 'Happiness Rank', 'Happiness Score', 'Economy (GDP per Capita)', 'Family', 'Health (Life Expectancy)', 'Freedom', 'Trust (Government Corruption)', 'Generosity', 'Dystopia Residual']
['Year', 'Country', 'Happiness Rank', 'Happiness Score', 'Economy (GDP per Capita)', 'Family', 'Health (Life Expectancy)', 'Freedom', 'Trust (Government Corruption)', 'Generosity', 'Dystopia Residual']
['Year', 'Country', 'Happiness.Rank', 'Happiness.Score', 'Economy..GDP.per.Capita.', 'Health..Life.Expectancy.', 'Freedom', 'Generosity', 'Trust..Government.Corruption.']
['Year', 'Country or region', 'Overall rank', 'Score', 'GDP per capita', 'Healthy life expectancy', 'Freedom to make life choices', 'Generosity', 'Perceptions of corruption']
['Year', 'Country or region', 'Overall rank', 'Score', 'GDP per capita', 'Healthy life expectancy', 'Freedom to make life choices', 'Generosity', 'Perceptions of corruption']

In [273]:
data_2015.drop(['Dystopia Residual','Family'], axis=1, inplace=True)
data_2016.drop(['Dystopia Residual','Family'], axis=1, inplace=True)

In [274]:
print(list(data_2015.columns))
print(list(data_2016.columns))
print(list(data_2017.columns))
print(list(data_2018.columns))
print(list(data_2019.columns))

['Year', 'Country', 'Happiness Rank', 'Happiness Score', 'Economy (GDP per Capita)', 'Health (Life Expectancy)', 'Freedom', 'Trust (Government Corruption)', 'Generosity']
['Year', 'Country', 'Happiness Rank', 'Happiness Score', 'Economy (GDP per Capita)', 'Health (Life Expectancy)', 'Freedom', 'Trust (Government Corruption)', 'Generosity']
['Year', 'Country', 'Happiness.Rank', 'Happiness.Score', 'Economy..GDP.per.Capita.', 'Health..Life.Expectancy.', 'Freedom', 'Generosity', 'Trust..Government.Corruption.']
['Year', 'Country or region', 'Overall rank', 'Score', 'GDP per capita', 'Healthy life expectancy', 'Freedom to make life choices', 'Generosity', 'Perceptions of corruption']
['Year', 'Country or region', 'Overall rank', 'Score', 'GDP per capita', 'Healthy life expectancy', 'Freedom to make life choices', 'Generosity', 'Perceptions of corruption']

In [275]:
print(len(data_2015.columns))
print(len(data_2016.columns))
print(len(data_2017.columns))
print(len(data_2018.columns))
print(len(data_2019.columns))

9
9
9
9
9

In [276]:
columns_titles = ['Year', 'Country', 'Happiness Rank', 'Happiness Score', 'Economy (GDP per Capita)', 'Health (Life Expectancy)', 'Freedom', 'Generosity', 'Trust (Government Corruption)']
data_2015=data_2015.reindex(columns=columns_titles)
data_2016=data_2016.reindex(columns=columns_titles)

In [277]:
print(list(data_2015.columns))
print(list(data_2016.columns))
print(list(data_2017.columns))
print(list(data_2018.columns))
print(list(data_2019.columns))

['Year', 'Country', 'Happiness Rank', 'Happiness Score', 'Economy (GDP per Capita)', 'Health (Life Expectancy)', 'Freedom', 'Generosity', 'Trust (Government Corruption)']
['Year', 'Country', 'Happiness Rank', 'Happiness Score', 'Economy (GDP per Capita)', 'Health (Life Expectancy)', 'Freedom', 'Generosity', 'Trust (Government Corruption)']
['Year', 'Country', 'Happiness.Rank', 'Happiness.Score', 'Economy..GDP.per.Capita.', 'Health..Life.Expectancy.', 'Freedom', 'Generosity', 'Trust..Government.Corruption.']
['Year', 'Country or region', 'Overall rank', 'Score', 'GDP per capita', 'Healthy life expectancy', 'Freedom to make life choices', 'Generosity', 'Perceptions of corruption']
['Year', 'Country or region', 'Overall rank', 'Score', 'GDP per capita', 'Healthy life expectancy', 'Freedom to make life choices', 'Generosity', 'Perceptions of corruption']

In [278]:
columns_titles = ['Year', 'Country', 'Happiness_Rank', 'Happiness_Score', 'Economy (GDP per Capita)', 'Health (Life Expectancy)', 'Freedom', 'Generosity', 'Trust (Government Corruption)']
data_2017.columns = columns_titles
data_2018.columns = columns_titles
data_2019.columns = columns_titles

In [279]:
data_2019

,Year,Country,Happiness_Rank,Happiness_Score,Economy (GDP per Capita),Health (Life Expectancy),Freedom,Generosity,Trust (Government Corruption)
0,2019,Finland,1,7.769,1.340,0.986,0.596,0.153,0.393
1,2019,Denmark,2,7.600,1.383,0.996,0.592,0.252,0.410
2,2019,Norway,3,7.554,1.488,1.028,0.603,0.271,0.341
3,2019,Iceland,4,7.494,1.380,1.026,0.591,0.354,0.118
4,2019,Netherlands,5,7.488,1.396,0.999,0.557,0.322,0.298
...,...,...,...,...,...,...,...,...,...
151,2019,Rwanda,152,3.334,0.359,0.614,0.555,0.217,0.411
152,2019,Tanzania,153,3.231,0.476,0.499,0.417,0.276,0.147
153,2019,Afghanistan,154,3.203,0.350,0.361,0.000,0.158,0.025
154,2019,Central African Republic,155,3.083,0.026,0.105,0.225,0.235,0.035
155,2019,South Sudan,156,2.853,0.306,0.295,0.010,0.202,0.091

In [280]:
happy_data = pd.concat([data_2015, data_2016, data_2017, data_2018, data_2019])
happy_data

,Year,Country,Happiness Rank,Happiness Score,Economy (GDP per Capita),Health (Life Expectancy),Freedom,Generosity,Trust (Government Corruption),Happiness_Rank,Happiness_Score
0,2015,Switzerland,1.0,7.587,1.39651,0.94143,0.66557,0.29678,0.41978,NaN,NaN
1,2015,Iceland,2.0,7.561,1.30232,0.94784,0.62877,0.43630,0.14145,NaN,NaN
2,2015,Denmark,3.0,7.527,1.32548,0.87464,0.64938,0.34139,0.48357,NaN,NaN
3,2015,Norway,4.0,7.522,1.45900,0.88521,0.66973,0.34699,0.36503,NaN,NaN
4,2015,Canada,5.0,7.427,1.32629,0.90563,0.63297,0.45811,0.32957,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
151,2019,Rwanda,NaN,NaN,0.35900,0.61400,0.55500,0.21700,0.41100,152.0,3.334
152,2019,Tanzania,NaN,NaN,0.47600,0.49900,0.41700,0.27600,0.14700,153.0,3.231
153,2019,Afghanistan,NaN,NaN,0.35000,0.36100,0.00000,0.15800,0.02500,154.0,3.203
154,2019,Central African Republic,NaN,NaN,0.02600,0.10500,0.22500,0.23500,0.03500,155.0,3.083
155,2019,South Sudan,NaN,NaN,0.30600,0.29500,0.01000,0.20200,0.09100,156.0,2.853

In [281]:
happy_data.dropna
happy_data

,Year,Country,Happiness Rank,Happiness Score,Economy (GDP per Capita),Health (Life Expectancy),Freedom,Generosity,Trust (Government Corruption),Happiness_Rank,Happiness_Score
0,2015,Switzerland,1.0,7.587,1.39651,0.94143,0.66557,0.29678,0.41978,NaN,NaN
1,2015,Iceland,2.0,7.561,1.30232,0.94784,0.62877,0.43630,0.14145,NaN,NaN
2,2015,Denmark,3.0,7.527,1.32548,0.87464,0.64938,0.34139,0.48357,NaN,NaN
3,2015,Norway,4.0,7.522,1.45900,0.88521,0.66973,0.34699,0.36503,NaN,NaN
4,2015,Canada,5.0,7.427,1.32629,0.90563,0.63297,0.45811,0.32957,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
151,2019,Rwanda,NaN,NaN,0.35900,0.61400,0.55500,0.21700,0.41100,152.0,3.334
152,2019,Tanzania,NaN,NaN,0.47600,0.49900,0.41700,0.27600,0.14700,153.0,3.231
153,2019,Afghanistan,NaN,NaN,0.35000,0.36100,0.00000,0.15800,0.02500,154.0,3.203
154,2019,Central African Republic,NaN,NaN,0.02600,0.10500,0.22500,0.23500,0.03500,155.0,3.083
155,2019,South Sudan,NaN,NaN,0.30600,0.29500,0.01000,0.20200,0.09100,156.0,2.853

In [282]:
happy_data.to_csv('happy_data.csv')